body {
    text-align: center;
    font-family: cursive;
    /* background-color: rgb(231, 210, 186); */
}

h1 {
    color: darkred;
}

input {
    font-family: cursive;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: cursive;
}

button,
.btn {
    /* background-color: cadetblue; */
    color: darkred;
    border: 1px solid darkred;
    padding: 5px;
}


/* #list {
    height: 100%;
    width: 50%;
    width: max-content;
    text-emphasis: center;
} */

#list li {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

#listItems {
    justify-content: space-between;
    display: inline;
}